*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.card{
    min-height: auto;
    border: 1px solid #252525;
    padding:1rem;
    margin:2rem;
    box-shadow: 1px 1px 2.9px #252525;
    width:auto;
}


/* Main Card */

.logo{
    position: absolute;
    left:19px;
    top:0;
    width:250px;
    height: 250px;
    object-fit: fill;
}

.studentPic{
    width:180px;
    height:250px;
    border: 1px solid #252525;
    padding:0.2rem;
    margin-left: 34rem;
}

.name{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(79, 122, 253, 0.792); */
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#register{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    color:#252525;
    text-decoration: underline;
    margin-bottom: 4rem;
}

.name1{
    /* text-align: center; */
    font-size: 32px;
    font-weight: 900;
    color:#252525;
    text-shadow: 0px 2px 2px #252525;
    /* width:100%; */
}

.name2{
    font-size: 26px;
    color:#252525;
    font-weight: 700;
    /* text-align: center; */
    /* width:100%; */
}

label{
    color:#252525;
    font-size: 28px;
    font-weight: 700;
    margin-left: 13rem;
}

input{
    padding:0.8rem;
    border-radius: 12px;
    width:390px;
    font-size: 22px;
    font-weight: 900;
    box-shadow: 0px 0px 3px #252525;
    margin-bottom: 2rem;
}

#name{
    margin-left: 21.3rem;
}

#dob{
    margin-left: 11.8rem;
}

#fname{
    margin-left: 11.8rem;
}

#gender{
    margin-left: 19rem;
    padding:0.8rem;
    border-radius: 12px;
    width:390px;
    font-size: 22px;
    font-weight: 900;
    box-shadow: 0px 0px 3px #252525;
    margin-bottom: 2rem;
}

#address{
    margin-top: -30px;
    margin-left: 38.2rem;
    padding:0.8rem;
    border-radius: 12px;
    width:390px;
    font-size: 22px;
    font-weight: 900;
    box-shadow: 0px 0px 3px #252525;
    margin-bottom: 2rem;
}

#phone{
    margin-left: 16.8rem;
}

#qualification{
    margin-left: 11.5rem;
}

#school{
    margin-left: 1rem;
}

#course{
    margin-left: 18.8rem;
    padding:0.8rem;
    border-radius: 12px;
    width:390px;
    font-size: 22px;
    font-weight: 900;
    box-shadow: 0px 0px 3px #252525;
    margin-bottom: 2rem;
}

#join{
    margin-left: 12.6rem;
}

#pic{
    margin-left: 9.5rem;
}

#but{
    padding:0.8rem;
    width:290px;
    background-color: rgba(77, 122, 255);
    color:mintcream;
    text-shadow: 1px 1px 3px black;
    border-radius: 9px;
    border: none;
    margin-left: 31rem;
    font-size: 28px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Gepdf{
    background-color: rgba(77, 122, 255);
    color:mintcream;
    text-shadow: 1px 1px 3px black;
    font-size: 22px;
    font-weight: 900;
    padding:0.7rem;
    border-radius: 9px;
    border: none;
}


@media screen and (min-width:320px) and (max-width:554px){
    label{
        margin-left: 0px;
    }
    input{
        width:100%;
    }
    #name{
        margin-left: 0px;
    }
    #fname{
        margin-left: 0px;
    }
    #dob{
        margin-left: 0px;
    }
    #gender{
        width:100%; 
        margin-left: 0px;
    }
    #address{
        width:100%;
        margin-left: 0px;
    }
    #phone{
        margin-left: 0px;
    }
    #qualification{
        margin-left: 0px;
    }
    #school{
        margin-left: 0px;
    }
    #course{
        width:100%;
        margin-left: 0px;
    }
    #join{
        margin-left: 0px;
    }
    #pic{
        margin-left: 0px;
    }

    .studentPic{
        margin-left: 0px;
    }
    #but{
        margin-left: 0px;
        width: 100%;
    }
    .name1{
        padding-top:13rem ;
        margin-bottom: 2rem;
    }
    .name2{
        font-size: 16px!important;
    }
}

@media screen and (min-width:320px) and (max-width:354px){
    .logo{
        margin-left: -30px;
    }
}

@media screen and (min-width:425px) and (max-width:554px){
    .logo{
        margin-left: 20px;
    }
}